:root {
    /* COLORS */
    --bg-1: #111;
    --bg-2: #333;
    --book-card-bg-read: linear-gradient(
        60deg,
        #34005f,
        #4d2f66);
    --book-card-bg-unread: linear-gradient(
            60deg,
            #313131,
            #646464);
    --text: #eee;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

body {
    background: linear-gradient(90deg, var(--bg-1), var(--bg-2));
    height: 100vh;
}

header {
    margin: 10vh 0 50px 20vw;
    font-size: 3rem;
}

main {
    padding: 0 5vw;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 15px;
}

.book-card {
    background: white;

    padding: 20px;
    border-radius: 15px;
    
    font-size: 1.2rem;
    line-height: 1.5;
}

.book-card.read {
    background: var(--book-card-bg-read);
}

.book-card.unread {
    background: var(--book-card-bg-unread);
}

.book-card p:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
}

/* FOOTER */

footer {
    position: absolute;
    bottom: 5px;
    width: 100%;
    font-size: 1rem;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: inherit;
}

.fa-github {
    transition: transform 0.2s;
}

.fa-github:hover {
    transform: scale(1.3);
}