:root {
    /* COLORS */
    --bg-1: #111;
    --bg-2: #333;
    --book-card-bg-read: linear-gradient(
        60deg,
        #34005f,
        #4d2f66);
    --book-card-bg-unread: linear-gradient(
            60deg,
            #313131,
            #646464);
    --text: #eee;
    --text-dimmed: #aaa;
    --checkbox-accent: #34005f;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
  }

body {
    background: linear-gradient(90deg, var(--bg-1), var(--bg-2));
    height: 100vh;


    font-family: 'Roboto', sans-serif;
    color: var(--text);
}

header {
    padding: 10vh 0 50px 20vw;
    font-size: 3rem;

    display: flex;
    align-items: center;
    gap: 50px;
}

.add-book {
    border: 2px solid var(--text);
    border-radius: 50%;

    background: var(--book-card-bg-read);
    color: inherit;

    width: 50px;
    height: 50px;

    font-size: 1.6rem;
    transition: 0.2s;
}

.add-book:hover {
    transform: scale(1.1);
}

main {
    padding: 0 5vw;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 15px;
}

.book-card {
    background: white;

    padding: 20px;
    border-radius: 15px;
    
    font-size: 1.2rem;
    line-height: 1.5;
}

.book-card.read {
    background: var(--book-card-bg-read);
}

.book-card.unread {
    background: var(--book-card-bg-unread);
}

.book-card p:first-of-type {
    font-size: 1.5rem;
    font-weight: bold;
}

/* FOOTER */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    padding: 5px;
  }

footer a {
    text-decoration: none;
    color: inherit;
}

.fa-github {
    font-size: 24px;
    transition: transform 0.2s;
}

.fa-github:hover {
    transform: scale(1.3);
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background: var(--book-card-bg-read);
    margin: 15% auto;
    padding: 20px;
    border-radius: 10px;
    width: 40%;
}

.modal-content h2 {
    text-align: center;
    margin-top: 20px;
    font-size: 2.5rem;
}

.add-book-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
}

.add-book-form > input {
    padding: 10px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    background: var(--book-card-bg-unread);
    color: var(--text);
    width: 100%;
}

.add-book-form > input::placeholder {
    color: var(--text-dimmed);
}

.add-book-form div {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.checkbox {
    width: 20px;
    height: 20px;
    accent-color: var(--checkbox-accent);
}

.add-book-form button {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 60%;

    background: transparent;
    color: var(--text);
    border: 2px solid var(--text);
    border-radius: 10px;
}

.add-book-form button:hover {
    cursor: pointer;
    background-color: var(--text);
    color: #34005f;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

